.loading-container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 100px;
}

.spinner {
  animation: spin 1s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
