<section class="client-selected-component">
  <div class="client-content-list">
    <div class="client-header-list">
      <p>Clientes selecionados:</p>
    </div>
  </div>

  <div class="card-grid">
    <app-card-root *ngFor="let client of selectedClients">
      <app-card-header [title]="client.name"></app-card-header>
      <app-card-boody>
        <p>Salário: R${{ client.salary}}</p>
        <p>Empresa: R${{ client.companyValuation}}</p>
      </app-card-boody>
      <app-card-footer>
        <span></span>
        <app-icon [icon]="'minus'" [size]="'sm'" [color]="'secondary'" (click)="removeClient(client.id)"></app-icon>
      </app-card-footer>
    </app-card-root>
  </div>

  <!-- <app-button label="Criar cliente" [type]="'outline'" (click)="onCreateClient()"></app-button> -->
</section>