<section class="client-list-component">
  <app-card-root>
    <app-card-header [title]="'Eduardo'"></app-card-header>
    <app-card-boody>
      <p>Salário: R$3.500,00</p>
      <p>Empresa: R$120.000,00</p>
    </app-card-boody>
    <app-card-footer>
      <app-icon [icon]="'plus'" [size]="'md'"></app-icon>
      <app-icon [icon]="'pencil'" [size]="'sm'" (click)="onEditClient()"></app-icon>
      <app-icon [icon]="'trash2'" [size]="'sm'" [color]="'dangerous'"></app-icon>
    </app-card-footer>
  </app-card-root>
</section>