@import "../../../../../assets/styles/spacing";
@import "../../../../theme/theme";

.client-list-component {
  margin-top: $spacing-md;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: $spacing-giant;
  margin-bottom: $spacing-xxlg;
  @media (max-width: 1000px) {
    width: 100%;
    flex-direction: column;
  }
}
