@import "../../../../../assets/styles/spacing";
@import "../../../../../assets/styles/fontSize";
@import "../../../../../assets/styles/variables";
@import "../../../../theme/theme";

.btn {
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: $border-radius;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &.sm {
    padding: $spacing-sm $spacing-sm;
    @include font-size("sm");
  }

  &.md {
    padding: $spacing-md $spacing-md;
    @include font-size("md");
  }

  &.lg {
    padding: $spacing-lg $spacing-giant;
    @include font-size("lg");
  }

  &.default {
    background-color: $primary-color;
    color: $white;
  }

  &.outline {
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;
  }

  &.disabled {
    background-color: $off-color;
    color: #fff;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:not(.disabled):hover {
    filter: brightness(0.9);
  }
}
