@import '../../../../../assets/styles/spacing';
@import '../../../../theme/theme';

.btn {
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
  transition: all 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 23px 0;
  
  
  &.sm {
    padding: $spacing-sm $spacing-sm;
    font-size: 14px;
  }

  &.md {
    padding: $spacing-md $spacing-md;
    font-size: 16px;
  }

  &.lg {
    padding: $spacing-lg $spacing-giant;
    font-size: 24px;
  }


  &.default {
    background-color: $primary-color;
    color: $white;
  }

  &.outline {
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;
  }

  &.disabled {
    background-color: $off-color;
    color: #fff;
    cursor: not-allowed;
    opacity: 0.6;
  }

  &:not(.disabled):hover {
    filter: brightness(0.9);
  }
}