@import "../../../../../assets/styles/spacing";
@import "../../../../../assets/styles/variables";
@import "../../../../theme/theme";
@import "../../../../../assets/styles/fontSize";

input {
  width: 100%;
  font-size: 16px;
  border-radius: $border-radius;
  transition: $transition;
  box-sizing: border-box;
  letter-spacing: 1px;
  outline: none;
  caret-color: $primary-color;

  &::placeholder {
    color: $placeholder-color;
  }

  &.text {
    border: 3px solid $off-color;
    background-color: transparent;
    color: $text-color;

    &:focus {
      border-color: $primary-color;
    }
  }

  &.currency {
    border: 3px solid $off-color;
    background-color: transparent;
    color: $text-color;

    &:focus {
      border-color: $primary-color;
    }
  }

  &.sm {
    padding: $spacing-sm $spacing-sm;
    @include font-size("sm");
  }

  &.md {
    padding: $spacing-md $spacing-md;
    @include font-size("md");
  }

  &.lg {
    padding: $spacing-lg $spacing-lg;
    @include font-size("lg");
  }
}
