@import '../../../../../assets/styles/spacing';
@import '../../../../theme/theme';

.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: map-get($spacing-map, "giant");

  .top-nav {
    display: flex;
    align-items: center;
    gap: map-get($spacing-map, 'giant');
  }

  .navbar-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    height: 40px;
    cursor: pointer;
  }

  .menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .user-text {
    font-size: map-get($spacing-map, "lg");
    font-weight: normal;

    > span {
      font-weight: bold;
    }
    
  }

  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: map-get($spacing-map, "lg");

    li {
      a {
        text-decoration: none;
        color: $text-color;
        font-size: 16px;
        font-weight: 300;
        transition: color 0.3s ease;
        

        &:hover {
          color: $primary-color;
          text-decoration: underline;
        }
      }
    }
  }
}