@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: trasparent;
}

::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 2px;
  height: 3%;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}
