$font-size-xsm: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xlg: 20px;
$font-size-xxlg: 24px;
$font-size-huge: 32px;
$font-size-giant: 40px;

@mixin font-size($size) {
  font-size: map-get($font-size-map, $size);
}

$font-size-map: (
  "xsm": $font-size-xsm,
  "sm": $font-size-sm,
  "md": $font-size-md,
  "lg": $font-size-lg,
  "xlg": $font-size-xlg,
  "xxlg": $font-size-xxlg,
  "huge": $font-size-huge,
  "giant": $font-size-giant,
);
